<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>Compétences</title>
		<meta name="description" content="page compétence de vincent riouallon" />
		<meta name="keywords" content="vincent, riouallon, portfolio, competences" />
		<meta name="author" content="Riouallon Vincent" />
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/icons.css" />
		<link rel="stylesheet" type="text/css" href="css/style5.css" />
		<link rel="stylesheet" href="css/progress.css" type="text/css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="codrops-header">
				<div class='container'>
  <h2>
    Skills
  </h2>
  <div class='row'>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='html5' width='150'></canvas><img src="js.png" alt="logo js" class="img_skills"/>
        <figcaption>
          HTML5
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='css3' width='150'></canvas><img src="js.png" alt="logo js" class="img_skills"/>
        <figcaption>
          CSS3
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='javascript' width='150'></canvas>
        <figcaption>
          Javascript
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='php' width='150'></canvas>
        <figcaption>
          PHP
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='mysql' width='150'></canvas>
        <figcaption>
          Mysql
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='java' width='150'></canvas>
        <figcaption>
          Java
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='c' width='150'></canvas>
        <figcaption>
          C
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='cpp' width='150'></canvas>
        <figcaption>
          C++
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='python' width='150'></canvas>
        <figcaption>
          Python
        </figcaption>
      </figure>
    </div>
     <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='apache' width='150'></canvas>
        <figcaption>
          Apache
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='ccna1' width='150'></canvas>
        <figcaption>
          CCNA-1
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='ccna2' width='150'></canvas>
        <figcaption>
          CCNA-2
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='photoshop' width='150'></canvas>
        <figcaption>
          Photoshop
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='premierepro' width='150'></canvas>
        <figcaption>
          Première Pro
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='aftereffect' width='150'></canvas>
        <figcaption>
          After Effects
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='c4d' width='150'></canvas>
        <figcaption>
          Cinema 4D
        </figcaption>
      </figure>
    </div>
    <div class='col-sm-4'>
      <figure>
        <canvas height='150' id='linux' width='150'></canvas>
        <figcaption>
          Linux
        </figcaption>
      </figure>
    </div>
  </div>
</div>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js'></script>

  <script src="js/progress.js"></script>
			</header>
			<% include menu.html %>
			
		</div><!-- /container -->
	</body>
	<script src="js/classie.js"></script>
	<script src="js/borderMenu.js"></script>
</html>