<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Portfolio | Vincent Riouallon</title>
  <meta name="description" content="page compétence de vincent riouallon" />
  <meta name="keywords" content="vincent, riouallon, portfolio, competences" />
  <meta name="author" content="Riouallon Vincent" />
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/demo.css" />
  <link rel="stylesheet" type="text/css" href="css/icons.css" />
  <link rel="stylesheet" type="text/css" href="css/style5.css" />
  <link rel="stylesheet" href="css/progress.css" type="text/css" />

  <link rel="stylesheet" type="text/css" href="css/projet.css" />
  <link rel="shortcut icon" href="logo/vr.png">
  <script src="js/modernizr.custom.js"></script>
</head>
<body>
  <div class="container">
   <header class="codrops-header">
    <div class='container'>
      <h2>
        Skills
      </h2>
      <div  id="grid" class='row'>
        <div class="mix web">
         <figure>
           <canvas height='150' id='html5' width='150'></canvas><img src="logo/HTML5.png" alt="logo HTML5" class="img_skills"/>
           <figcaption>
             HTML5
           </figcaption>
         </figure>
       </div>  

       <div  class="mix web"class='col-sm-4'>
        <figure>
          <canvas height='150' id='css3' width='150'></canvas><img src="logo/CSS3.png" alt="logo CSS3" class="img_skills"/>
          <figcaption>
            CSS3
          </figcaption>
        </figure>
      </div>

      <div class="mix web">
        <figure>
          <canvas height='150' id='php' width='150'></canvas><img src="logo/php.png" alt="logo PHP" class="img_skills"/>
          <figcaption>
            PHP
          </figcaption>
        </figure>
      </div>
      <div class="mix web">
        <figure>
          <canvas height='150' id='javascript' width='150'></canvas><img src="logo/js.png" alt="logo Javascript" class="img_skills"/>
          <figcaption>
            Javascript
          </figcaption>
        </figure>
      </div>
      <div class="mix web">
        <figure>
          <canvas height='150' id='jquery' width='150'></canvas><img src="logo/jquery.png" alt="logo Jquery" class="img_skills"/>
          <figcaption>
            JQuery
          </figcaption>
        </figure>
      </div>
      <div class="mix web">
        <figure>
          <canvas height='150' id='angularjs' width='150'></canvas><img src="logo/angular.png" alt="logo AngularJS" class="img_skills"/>
          <figcaption>
            AngularJS
          </figcaption>
        </figure>
      </div>
      <div class="mix web">
        <figure>
          <canvas height='150' id='nodejs' width='150'></canvas><img src="logo/nodejs.png" alt="logo NodeJS" class="img_skills"/>
          <figcaption>
            NodeJS
          </figcaption>
        </figure>
      </div>
      <div class="mix web">
        <figure>
          <canvas height='150' id='apache' width='150'></canvas><img src="logo/apache.png" alt="logo Apache" class="img_skills"/>
          <figcaption>
            Apache
          </figcaption>
        </figure>
      </div>
      <div class="mix software">
        <figure>
          <canvas height='150' id='java' width='150'></canvas><img src="logo/java.png" alt="logo Java" class="img_skills"/>
          <figcaption>
            Java
          </figcaption>
        </figure>
      </div> 
      
      <div class="mix software">
        <figure>
          <canvas height='150' id='c' width='150'></canvas><img src="logo/c.png" alt="logo C" class="img_skills"/>
          <figcaption>
            C
          </figcaption>
        </figure>
      </div>

      <div class="mix software">
        <figure>
          <canvas height='150' id='cpp' width='150'></canvas><img src="logo/c++.png" alt="logo C++" class="img_skills"/>
          <figcaption>
            C++
          </figcaption>
        </figure>
      </div>
      
      <div class="mix software">
        <figure>
          <canvas height='150' id='python' width='150'></canvas><img src="logo/python.png" alt="logo Python" class="img_skills"/>
          <figcaption>
            Python
          </figcaption>
        </figure>
      </div>

      <div class="mix data">
        <figure>
          <canvas height='150' id='ccna1' width='150'></canvas><img src="logo/ccna-1.png" alt="logo CCNA-1" class="img_skills"/>
          <figcaption>
            CCNA-1
          </figcaption>
        </figure>
      </div>
      <div class="mix data">
        <figure>
          <canvas height='150' id='ccna2' width='150'></canvas><img src="logo/ccna-2.png" alt="logo CCNA-2" class="img_skills"/>
          <figcaption>
            CCNA-2
          </figcaption>
        </figure>
      </div>
      <div class="mix os">
        <figure>
          <canvas height='150' id='linux' width='150'></canvas><img src="logo/linux.png" alt="logo Linux" class="img_skills"/>
          <figcaption>
            Linux
          </figcaption>
        </figure>
      </div>
      <div class="mix os">
        <figure>
          <canvas height='150' id='windows' width='150'></canvas><img src="logo/windows.png" alt="logo Windows" class="img_skills"/>
          <figcaption>
            Windows
          </figcaption>
        </figure>
      </div>

      <div class="mix data">
        <figure>
          <canvas height='150' id='git' width='150'></canvas><img src="logo/git.png" alt="logo git" class="img_skills"/>
          <figcaption>
            Git
          </figcaption>
        </figure>
      </div>
      <div class="mix data">
        <figure>
          <canvas height='150' id='mysql' width='150'></canvas><img src="logo/mysql.png" alt="logo Mysql" class="img_skills"/>
          <figcaption>
            Mysql
          </figcaption>
        </figure>
      </div>
      <div class="mix cinema">
        <figure>
          <canvas height='150' id='photoshop' width='150'></canvas><img src="logo/photoshop.png" alt="logo photoshop" class="img_skills"/>
          <figcaption>
            Photoshop
          </figcaption>
        </figure>
      </div>
      <div class="mix cinema">
        <figure>
          <canvas height='150' id='premierepro' width='150'></canvas><img src="logo/premiere_pro.png" alt="logo premiere pro" class="img_skills"/>
          <figcaption>
            Première Pro
          </figcaption>
        </figure>
      </div>
      <div class="mix cinema">
        <figure>
          <canvas height='150' id='aftereffect' width='150'></canvas><img src="logo/after_effect.png" alt="logo after effect" class="img_skills"/>
          <figcaption>
            After Effects
          </figcaption>
        </figure>
      </div>
      <div class="mix cinema">
        <figure>
          <canvas height='150' id='c4d' width='150'></canvas><img src="logo/C4D.png" alt="logo cinema 4D" class="img_skills"/>
          <figcaption>
            Cinema 4D
          </figcaption>
        </figure>
      </div>

      
      
      
      
      
      
      
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js'></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>  
    <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>  

    <script src="js/progress.js"></script>
    <script type="text/javascript">
      $(function(){

        $('body').addClass('js');


        $('h2:first').after('<div class="filters">'+
          '<div class="col">'+
          '<span class="filter mix"  data-filter="mix"><a class="a_demo_one">Tout</a></span>'+
          '<span class="filter mix"  data-filter="software"><a class="a_demo_one">Software</a></span>'+
          '<span class="filter" data-filter="web"><a class="a_demo_one">Web</a></span>'+
          '<span class="filter" data-filter="os"><a class="a_demo_one">OS</a></span>'+
          '<span class="filter" data-filter="data"><a class="a_demo_one">Autre</a></span>'+
          '<span class="filter" data-filter="cinema"><a class="a_demo_one">Cinema</a></span>'+
          '</div>');


        $('#grid').mixitup({
          effects: ['fade','scale','rotateZ'],
        });
        
      });
    </script>
    <style type="text/css">    
      .js #grid div {  
        display: none;  
        opacity: 0;  
      }  </style>  
    </header>
    <% include menu.html %>
    
  </div><!-- /container -->
</body>
<script src="js/classie.js"></script>
<script src="js/borderMenu.js"></script>
</html>