<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>Portfolio | Vincent Riouallon</title>
		<meta name="description" content="page experience de vincent riouallon" />
		<meta name="keywords" content="vincent, riouallon, portfolio, experience" />
		<meta name="author" content="Riouallon Vincent" />
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/icons.css" />
		<link rel="stylesheet" type="text/css" href="css/style5.css" />
		<link rel="shortcut icon" href="logo/vr.png">
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="codrops-header">

				<h2>Expérience</h2>

				<div class="formation">
				<h3 class="formation_title">Janvier 2014</h3>
				<a href="http://startupweekend.org/" target="_blank"><img src="Images/brest_SW14.jpg" alt="Startup Week end" ></a>
				<p><span class="first_exp_desc">Participation au Startup Week end.</span><br/><br/>
				Le Week end du 17 janvier 2014 j'ai participé au Startup Weekend de Brest. 120 personnes étaient présentent et 36 projets ont été présenté.<br/>
				J'ai choisit le projet O-rizon. Alors O-rizon c'est quoi? C'est une plate-forme de mise en relation entre des éléves en recherches d'orientation et des étudiant en études supérieurs. J'ai rencontré beaucoup de monde et ai pu parler avec des personnes qui ont des points de vues/connaissances complétement différentes des miennes.
				Du point de vue Business j'ai appris se qu'est le Business Model, un MVP (Minimum Viable Project), études de marchés et communication.<br/>
				En informatique j'ai découvert le NodeJS et j'ai mis en pratique l'AngularJS avec un peu de Json. J'ai également vu du NoSQL avec MongoDB et me suis initié à GIT.<br/>
				J'ai une nouvelle fois travaillé en équipe et j'ai apprécié, de plus ici on avait une très grosse contrainte qui était le temps.
				Une très très bonne expérience de travaille.</p>
        	 </div>
        	 <div class="formation">
				<h3 class="formation_title">Juillet 2013</h3>
				<a href="http://club-informatique-penitentiaire.sitego.fr/"><img src="Images/CLIP.jpg" alt="CLIP" ></a>
				<p><span class="first_exp_desc">Travail en Maison d'arrêt dans le cadre de formation à l'informatique des détenus.</span><br/><br/>
				Ce fut une expérience très enrichissante. J'ai découvert un univers totalement nouveau. En effet dans le milieu carcéral de nombreux stéréotypes sont faux, malheuresement d'autre sont vrais.<br/>
				Mon rôle était de former deux groupes de détenus volontaires les bases en traitement de texte et en tableur.<br/>
				Outre le rôle de formateur j'était ussi là pour leur parler, les écouter et leurs changer les idées.<br/>
				C'était très spécial car l'ambience était tendu mais j'étais bien traité et les cours se sont très bien passé. Une très bonne expérience.
				</p>
			</div>
			<div class="formation">		
				<h3 class="formation_title">Eté 2012</h3>
				</h3>
				<img src="Images/Thales.jpg" alt="THALES">
				<p><span class="first_exp_desc">Agent d'entretien dans les bureaux de THALES.</span><br/><br/>
				Lors de ce travail j'ai appris à gérer plusieurs choses en même temps et à m'organiser car je travaillais seul et avais plusieurs bâtiments à nettoyer dans la matiné.<br/>
				J'ai dût nettoyer toute sorte de saleté tout en faisant en sorte de ne pas gêner les personnes qui travaillaient et respecter les normes des laboratoires quand je les nettoyaient.<br/>
				C'était un travail assez dur, certaines personnes n'avaient aucune concidération pour moi car j'était juste "l'homme de ménage", il y a beaucoup de matériel à transporter et changer toutes les poubelles.<br/>
				C'est un travail que je suis heureux d'avoir fait pour comprendre le point de vue de travailleur manuelle mais je dois dire que ce n'est pas mes aspirations future.</p>
				</div>

				<div class="formation">
				<h3 class="formation_title">Eté 2012</h3>
				<a href="http://www.augustebrest.fr/" target="_BLANK"><img src="Images/auguste.jpg" alt="Auguste" ></a>
				<p><span class="first_exp_desc">Vendeur d'article de fête et conseil en magie et jonglerie.</span><br/><br/>
				Ayant toujours aimé la magie et le cirque je me suis entrainé à jongler et j'ai appris plusieurs tours de magies. Pour me fournir en matériel et en conseils j'allais à Auguste Brest.<br/>
				Le magasin recherchait un vendeur pour l'été je me suis proposé et ils on acceptés.<br/>
				J'ai dut faire de la remise en rayon, de la surveillance, du conseil et de la vente.<br/>
				La relation client m'a beaucoup plus et savoir s'adapter aux besoins des gens est très intéressant.<br/>
				Le boulot m'a beaucoup plus, la vente est un milieu très interessant.</p>
				</div>
				

			</header>
			<% include menu.html %>
			
			
		</div><!-- /container -->
	</body>
	<script src="js/classie.js"></script>
	<script src="js/borderMenu.js"></script>
</html>