<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Animated Border Menus | Demo 5</title>
		<meta name="description" content="Responsive Animated Border Menus with CSS Transitions" />
		<meta name="keywords" content="navigation, menu, responsive, border, overlay, css transition" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/icons.css" />
		<link rel="stylesheet" type="text/css" href="css/style5.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="codrops-header">
				<h2>Formation</h2>
        	 
				<p><a href="http://isen.fr/" target="_blank"><img src="Images/ISEN.jpg" alt="ISEN" ></a></br></br>
				2012-2014<br>Spécialisation en Cycle Informatique et Réseaux. Formation sur 5 ans en informatique à l'ISEN Brest (pour plus d'informatique sur la formation CIR, cliquer <a href="http://www.isen.fr/rubrique.asp?id_nas=160&amp;inf=">ici</a>)
				</br></br></br>
				2011-2012<br>Terminale S au Lycée Kérichen à Brest
				</p>
			</header>
			<% include menu.html %>
			
		</div><!-- /container -->
	</body>
	<script src="js/classie.js"></script>
	<script src="js/borderMenu.js"></script>
</html>