<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>Présentation</title>
		<meta name="description" content="page compétence de vincent riouallon" />
		<meta name="keywords" content="vincent, riouallon, portfolio, presentation" />
		<meta name="author" content="Riouallon Vincent" />
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/icons.css" />
		<link rel="stylesheet" type="text/css" href="css/style5.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="codrops-header">
				<h2>A propos de moi</h2>
				<img src="Images/profil.png" alt="leap">
			<p>Je me nomme Vincent RIOUALLON. Je suis actuellement élève en école d'ingénieur, l'ISEN, où je suis en Cycle Informatique et Réseau (CIR).</p>
			<p>Je suis une personne ouverte à toutes expérience et aime découvrir un maximum de choses. Cela m'a amené à travailler dans des domaines très différents : ménage, vendeur (spécialité : magie), formateur en maison d'arrêt.</p>
			<p>Les arts m’intéressent également, j’apprends à jouer de la basse, faire des effets spéciaux (Adobe After Effect), des animations 3d (Cinema4D) et des retouches photos pour parfaire les effets visuels.
J'ai tout de même un certains penchant pour le développement et pour les nouvelles technologies. J'ai appris le langage C, HTML, CSS et un peu le Javascript. Tous c'est langage permette une très grande variété de projets mais je suis en train d'apprendre le C++ pour coder une LeapMotion.
Je me considère comme quelqu'un de très actif, je fais du kendo en club 2 fois par semaine, de plus je fais partie de 2 clubs de l'ISEN (le club cinéma et le club électronique/développement) ainsi que d'une association appelé ROTARACT qui organise des actions bénévoles.</p>

			<p>Je possède un ordinateur fixe me servant pour mes rendues cinématiques qui consomment beaucoup de ressource ainsi qu'un ordinateur portable pour travailler. Les deux machines sont sous Windows7 mais pour le développement j'ai une préférence pour Linux.</p>
	<div class="gf">
			<a class="twitter-timeline" width="410" height="500" href="https://twitter.com/VRiouallon" data-widget-id="438290461329874944">Tweets de @VRiouallon</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>







<div class="gf">
<!-- Facebook Badge START --><a href="https://www.facebook.com/vriouallon" target="_TOP" title="Vincent Riouallon"><img src="https://badge.facebook.com/badge/1324033052.3670.499853635.png" style="border: 0px;" /></a><br/><!-- Facebook Badge END -->




<div id="gp">	
	<!-- Placez cette balise où vous souhaitez faire apparaître le gadget widget. -->
<div class="g-person" data-width="410" data-href="//plus.google.com/115166635845802373673" data-theme="dark" data-rel="author"></div>

<!-- Placez cette ballise après la dernière balise widget. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'fr'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script></div>




<div id="bgp">
<!-- Placez cette balise où vous souhaitez faire apparaître le gadget widget. -->
<div class="g-person" data-width="273" data-href="//plus.google.com/115166635845802373673" data-theme="dark" data-layout="landscape" data-rel="author"></div>

<!-- Placez cette ballise après la dernière balise widget. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'fr'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>




</div></div>
			</header>
			<% include menu.html %>
			
		</div><!-- /container -->
	</body>
	<script src="js/classie.js"></script>
	<script src="js/borderMenu.js"></script>
</html>