<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title></title>
		<meta name="description" content="Responsive Animated Border Menus with CSS Transitions" />
		<meta name="keywords" content="navigation, menu, responsive, border, overlay, css transition" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/icons.css" />
		<link rel="stylesheet" type="text/css" href="css/style5.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="codrops-header">
				<h2>A propos de moi</h2>
				<img src="Images/profil.png" alt="leap">
			<p>Je me nomme Vincent RIOUALLON. Je suis actuellement élève en école d'ingénieur, l'ISEN, où je suis en Cycle Informatique et Réseau (CIR).</p>
			<p>Je suis une personne ouverte à toutes expérience et aime découvrir un maximum de choses. Cela m'a amené à travailler dans des domaines très différents : ménage, vendeur (spécialité : magie), formateur en maison d'arrêt.</p>
			<p>Les arts m’intéressent également, j’apprends à jouer de la basse, faire des effets spéciaux (Adobe After Effect), des animations 3d (Cinema4D) et des retouches photos pour parfaire les effets visuels.
J'ai tout de même un certains penchant pour le développement et pour les nouvelles technologies. J'ai appris le langage C, HTML, CSS et un peu le Javascript. Tous c'est langage permette une très grande variété de projets mais je suis en train d'apprendre le C++ pour coder une LeapMotion.
Je me considère comme quelqu'un de très actif, je fais du kendo en club 2 fois par semaine, de plus je fais partie de 2 clubs de l'ISEN (le club cinéma et le club électronique/développement) ainsi que d'une association appelé ROTARACT qui organise des actions bénévoles.</p>

			<p>Je possède un ordinateur fixe me servant pour mes rendues cinématiques qui consomment beaucoup de ressource ainsi qu'un ordinateur portable pour travailler. Les deux machines sont sous Windows7 mais pour le développement j'ai une préférence pour Linux.</p>
			</header>
			<% include menu.html %>
			
		</div><!-- /container -->
	</body>
	<script src="js/classie.js"></script>
	<script src="js/borderMenu.js"></script>
</html>