<nav id="bt-menu" class="bt-menu">
				<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
				<ul>
					<li><a href="index">Moi</a></li>
	                <li><a href="formation">Formation</a></li>
					<li><a href="experience">Expériences</a></li>
					<li><a href="competence">Compétences</a></li>
	                <li><a href="projet">Projets</a></li>
					<li><a href="CV-RIOUALLON_Vincent.pdf" target="_blank">CV</a></li>
					<li><a href="contact">Contacts</a></li>
				</ul>
				<ul>
					<li><a target="_blank" href="https://twitter.com/VRiouallon" class="bt-icon icon-twitter">Twitter</a></li>
					<li><a target="_blank" href="https://plus.google.com/u/0/" class="bt-icon icon-gplus">Google+</a></li>
					<li><a target="_blank" href="https://www.facebook.com/vriouallon" class="bt-icon icon-facebook">Facebook</a></li>
					<li><a target="_blank" href="https://github.com/artentica" class="bt-icon icon-github">icon-github</a></li>
				</ul>
			</nav>