<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title></title>

		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/icons.css" />
		<link rel="stylesheet" type="text/css" href="css/style5.css" />
		<link rel="stylesheet" type="text/css" href="css/projet.css" />
		<script src="js/modernizr.custom.js"></script>
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="js/deroulant.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="codrops-header">
						<div class="projet">
							<h3>Leap motion</h3>
									<div class="img_projet"><img src="Images/leap2.jpg" alt="leap motion devant ca boîte"><img src="Images/leap1.jpg" alt="leap motion en utilisation"></div>

									<p class="leapbutton">
                        				<a class="a_demo_one">Plus d'informations</a>
                   					</p>

									<p>Cette année je réalise en binôme un "Pong" en C++ où les barres du jeu seront dirigées par la main grâce à la Leap Motion.</p>
									<p class="leapsub"> Ce projet est	effectué dans le cadre du Club Electronique et Développement Informatique de l'ISEN (dont je fais partie). Nous devons apprendre le	C++ et finaliser le projet pour les 1<sup>ères</sup> portes ouvertes de l'ISEN. Le but est de commmencer par un simple Pong et d'améliorer notre programme par la suite.</br>
									Ce projet est à présent fini et a été développé avec l'aide de <a title="lien vers son portfolio" href="http://remi.rcdinfo.fr/" target="_blank">Rémi Collignon</a>.</p>
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>Projet de 2 mois environ avec deadline (sur temps libre)</li>
									<li>Développement objet avec le C++ (ainsi que QT)</li>
									<li>Familiarisation avec une nouvelle technologie</li>
									<li>Travail en binôme</li>
								</ul>
						</div>
						<div class="projet">
							<h3>Robot chercheur</h3>
								

								<p class="robotbutton">
                        			<a class="a_demo_one">Plus d'informations</a>
                   				</p>

								<p>Une application console et graphique (SDL) ayant pour but d'afficher un labyrinthe et les déplacements du robot.</p>
								<p class="robotsub">Le robot devait trouver la sortie (en passant juste à côté). Pour cela j'ai utilisé l'algorithme de
								<a title="principe de l'algorithme de Pledge" target="_blank" href="https://interstices.info/jcms/c_46065/l-algorithme-de-pledge">Pledge</a> associé à une carte des déplacements
								effectués par le robot ainsi que les murs découverts. Une musique était jouée pendant toute la durée du programme qu'il
								soit affiché en console ou dans une fenêtre graphique. A la fin, une image apparaissait avec le nombre de mouvements effectués
								et une autre musique était jouée.</p>
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>Développement en C (avec SDL)</li>
									<li>Recherche et utilisation d'algorithme</li>
									<li>Application en console et graphique</li>
								</ul>
						</div>
						<div class="projet">
							<h3>Portfolio sans JS</h3>
								
								<p class="portfoliosansjsbutton">
                        			<a class="a_demo_one">Plus d'informations</a>
                   				</p>

								<p>Afin de pouvoir me présenter plus amplement que sur mon CV ou ma lettre de motivation, j'ai décidé de coder ce site personnel. </p>
								<p class="portfoliosansjssub">L'an dernier lors du projet web on  nous a demandé de limiter et de même éviter toute utilisation du Javascript
								pour permettre une bonne lisibilité du site par un maximum de navigateurs internet. J'ai donc fait exprès de n'utiliser aucun
								Javascript dans l'ensemble du site. Le menu glissant de cette page avec les trois icônes est fait grâce aux attributs "target"
								et "after" et le menu glissant de ma photo est une "check box".</p>
								
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>Imagination du design</li>
									<li>Développement HTML5 et CSS3</li>
								</ul>
						</div>
						<div class="projet">
							<h3>Winpixies</h3>
								<div class="img_projet"><img src="Images/winpixies1.jpg" alt="Page d'accueil de winpixies"><img src="Images/winpixies2.jpg" alt="Page des annonceurs de Winpixies"></div>

								<p class="winpixiesbutton">
                        			<a class="a_demo_one">Plus d'informations</a>
                   				</p>

                   				<p>Un camarade de classe (Erwan Joly) m'a proposé de l'aider dans un projet personnel. Le but était de créer un site ( qui se nomme <a href="http://.winpixies.com" target="_blank" title="Site Winpixies">Winpixies</a>) où
								des utilisateurs pourraient gagner de l'argent en visionnant des publicités ou en remplissant des formulaires.
								</p>
								<p class="winpixiessub">Ma fonction
								a été de mettre en pratique mes connaissances en photographie et en base de données pour l'aider. J'ai donc fait les images du site
								et un peu de code CSS, HTML et des requêtes de Base de donnée. J'aide à tenir la page facebook du site et m'occupe du Twitter.
								Je faits également de manière régulière de la publicité pour faire connaitre le site.</p>
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>Développement en HTML5 et CSS3</li>
									<li>Utilisation de MySQL</li>
									<li>Communication sur différents réseaux</li>
									<li>Utilisation de Photofiltre, The Gimp, Photoshop</li>
								</ul>
						</div>
						<div class="projet">
							<h3>Site de mairie</h3>
								<div class="img_projet"><img src="Images/mairielyon1.jpg" alt="Page d'accueil de notre site de mairie"><img src="Images/mairielyon2.jpg" alt="Formulaire de notre site de mairie"></div>
								<p>Le site d'une mairie fait en statique, devant répondre à un cahier des charges précis qui était modifié réguliérement
								par le client (qui était joué par les professeurs de web). Nous devions le faire à deux (moi même ainsi que
								<a href="http://remi.rcdinfo.fr/" title="lien vers son portfolio" target="_blank">Collignon Rémi<a> et rendre des rapports faisant état de l'avancement du site internet tout en
								respectant des deadline précises ainsi que le calendrier prévisionnel que nous avions fait. Le site est visionnable en
								cliquant <a title="Site de la mairie de Lyon fait pour notre projet web" href="projet-web/index.html" target="_blank">ici</a>.</p>
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>HTML5, CSS3, JS (JQuery)</li>
									<li>Planning prévisionnel</li>
									<li>Travail en binôme</li>
									<li>Deadline à respecter</li>
								</ul>
						</div>
						<div class="projet">
							<h3>Destiny</h3>
								<div class="img_projet"><img src="Images/destiny1.jpg" alt="Une image du court métrage"><iframe width="400" height="225" src="//www.youtube.com/embed/u2sJgJHDuWY" style="margin:3px;border-bottom-width: 0px;" frameborder="0" allowfullscreen></iframe></div>
								
			                    <p class="destinybutton">
			                        <a class="a_demo_one">
			                            Plus d'informations
			                        </a>
			                    </p>
                			
                				<p>Durant ce projet je tenais entre autre le rôle de coordinateur afin que tout se déroule pour le mieux.</p>
							
								<p class="destinysub">Destiny est un court métrage sur le thème de la parole fait dans le cadre de la Formation Humaine et Sociale. Lors
								de ce projet de création nous avons dû créer un scénario tous ensemble (nous étions 7 et une personne extérieure).  Je prenais également soin du
								matériel dont nous avons eu besoin (fond vert, caméra et pied de caméra). J'ai également fait les effets spéciaux et la
								modélisation/texturage de la partie 3D.</p>
								<p>Equipe du film: Moi-même, <a href="http://remi.rcdinfo.fr/" title="lien vers son portfolio" target="_blank">Rémi Collignon</a>, Francois Toquer, Laurent Tréguier, Erwan Joly, Guillaume Scherrer, Brendan Elard et Emmanuelle Ossant.</p>
							
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>Gérer une équipe de 7 personnes</li>
									<li>Respect du cahier des charges</li>
									<li>Effets spéciaux (Keylight pour le fond vert et placement des bulles de paroles)</li>
									<li>Images de synthése (Livre fait sous Cinema4D)</li>
								</ul>
							
						</div>
						<div class="projet">
							<h3>Film d'animation</h3>
								<div class="img_projet"><img src="Images/animation1.jpg" alt="Une image de l'animation"><iframe width="400" height="225" src="//www.youtube.com/embed/LNmXLrswj38" style="margin: 3px;border-bottom-width: 0px;" frameborder="0" allowfullscreen></iframe></div>
								<p>Il s'agit là d'un projet personnel ayant pour thème le sujet de <span title="Formation Humaine et Sociale">FHS</span>
								de l'année 2014, qui est "Le temps vécu". Je réalise le film uniquement en image de synthèse sur mon ordinateur. Pour
								le moment seule l'introduction est faite (des retouches minimes restent à faire cependant).</p>
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>Travail personnel</li>
									<li>Aménagement des temps de rendu (l'introduction a pris 100h de rendu)</li>
									<li>Assemblage des images sous Adobe After Effects et retouches des séquences</li>
									<li>Assemblage des séquences sous Adobe Premiere Pro</li>
								</ul>
						</div>
						
						<div class="projet">
							<h3>Good vs Evil</h3>
								<div class="img_projet"><iframe width="400" height="225" src="//www.youtube.com/embed/lbL-9p8xF1o" frameborder="0" allowfullscreen></iframe></div>
								<p>Un projet personnel réalisé avec l'aide de <a href="http://remi.rcdinfo.fr/" title="lien vers son portfolio" target="_blank">Rémi Collignon<a>.
								Ce projet a pour but de montrer un combat entre le mal et un bien quelque peu corrompu et violent. On voulait aussi s'amuser
								en faisant un projet sans contrainte et complétement libre. Dans ce projet je veux aussi tester de nouveaux effets à rajouter
								en post-production et de monter un court métrage. Le temps de tournage s'est fait très rapidement puisque
								nous l'avons tourné en seulement 2h avant de retourner en cours.</p>
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>Trouver des décors simples</li>
									<li>Effets spéciaux sous Adobe After Effects</li>
									<li>Montage sous Adobe Premiere Pro</li>
								</ul>
						</div>
						<div class="projet">
							<h3>Vidéos de soirées</h3>
								<div class="img_projet"></div>
								<p>Dans le cadre du club vidéo de l'ISEN (Moviezen) j'ai été amené à filmer des soirées se déroulant à l'ISEN et d'en
								faire des montages vidéos. Nous filmons à plusieurs et le montage se fait à deux. La personne n'étant pas proche géographiquement
								nous avons travaillé à distance à l'aide de Skype et de Dropbox. J'ai fait un montage 3D très court à la fin de la vidéo
								à partir du logo de notre BDE. <a href="http://www.youtube.com/watch?v=w_rvH-oSk20&feature=youtu.be" title="lien vers la vidéo" target="_blank">La courte vidéo<a>.</p>
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>Travail en binôme</li>
									<li>Travail fait en peu de temps</li>
									<li>Travail par téléconférence grâce à Skype</li>
									<li>Synchronisation des vidéos et des sauvegardes grâce à Dropbox</li>
								</ul>
						</div>
						<div class="projet">
							<h3>Faux Raccord Isen</h3>
								<div class="img_projet"></div>
								<p>Faux Raccord Isen est un projet Moviezen ayant pour but de montrer les erreurs commises dans les court-métrages faits dans
								le cadre de la <span title="Formation Humaine et Sociale">FHS</span>. Nous sommes deux sur ce projet, nous voulons rendre
								l'émission intéressante et enrichissante pour améliorer la qualité des futurs court-métrages réalisés. Nous voulons faire cela
								en prodiguant des critiques (positives et négatives) ainsi que  conseils.</p>
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>Travail en binôme</li>
									<li>Recherche minitieuse des erreurs </li>
									<li>Critiques objectives</li>
								</ul>
						</div>
						<div class="projet">
							<h3>Modélisation 3D</h3>
								<div class="img_projet"><iframe width="400" height="225" src="//www.youtube.com/embed/SO8rJZJpQNg" style="margin: 3px;border-bottom-width: 0px;" frameborder="0" allowfullscreen></iframe></div>
								<p>Il s'agit là de ma toute première "vraie" modélisation, en effet j'avais déjà fait un livre mais ce schtroumpf était
								vraiment plus dur et plus intéressant. De plus le texturage et la lumière étaient plus spécifiques ici. Je suis parti de 3 cubes pour arriver à ce résultat.</p>
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>Vision 3D</li>
									<li>Texturage par zone</li>
								</ul>
						</div>
						<div class="projet">
							<h3>Coilgun</h3>
								<div class="img_projet"><img src="Images/coilgun.jpg" alt="Une image de prototype de coilgun"></div>
								<p>Le coilgun est un pistolet électro-magnétique qui permet de lancer un bout de fer (ici nous prenons un clou). Le clou
								est placé dans la bobine puis le champ magnétique l'éjecte, le clou parcourt pour l'instant 2 mètres environ. Nous le
								fabriquons à deux, moi-même et <a title="Lien vers son portfolio" href="http://www.gillesbiannic.fr/" target="_blank">Gilles
								Biannic</a> pour notre curiosité personnelle.</p>
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>Cours d'électromagnétisme</li>
									<li>Soudure des composants et conception de la bobine</li>
									<li>Travail en binôme</li>
									<li>Aménagement du temps personnel</li>
								</ul>
						</div>
						<div class="projet">
							<h3>Petites réparations</h3>
								<div class="img_projet"></div>
								<p>Il m'est souvent arrivé de devoir réparer/formater des ordinateurs sur différentes versions de Windows.</p>
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>Sauvegarde de données</li>
									<li>Réinstallation de logiciel</li>
									<li>Suppression de menaces</li>
								</ul>
						</div>
						<div class="projet">
							<h3>Montage ordinateur</h3>
								<div class="img_projet"></div>
								<p>J'ai commandé chacune des piéces d'ordinateur qui me convenait et l'ai monté moi-même dans un boîtier assez grand
								pour permettre des modifications.</p>
								<h3>Capacités sollicitées :</h3>
								<ul>
									<li>Respecter un Budget</li>
									<li>Conception d'un ordinateur adapté à mes besoins/envies.</li>
								</ul>
						</div>
			</header>
			<% include menu.html %>
			
		</div><!-- /container -->
	</body>
	<script src="js/classie.js"></script>
	<script src="js/borderMenu.js"></script>
</html>