<ul id="grid">  
    <li class="mix trees" data-alphabetic="Arbres" data-numeric="6">  
        <img src="img/trees.jpg" width="240" height="160" alt="">  
    </li>  
    <li class="mix eyes human" data-alphabetic="Yeux d'humain" data-numeric="5">  
        <img src="img/human-eye2.jpg" width="240" height="160" alt="">  
    </li>  
    <li class="mix animals eyes" data-alphabetic="Yeux d'animaux" data-numeric="4">  
        <img src="img/tiger-eye.jpg" width="240" height="160" alt="">  
    </li>  
    <li class="mix trees" data-alphabetic="Arbres" data-numeric="1">  
        <img src="img/trees2.jpg" width="240" height="160" alt="">  
</li>
</ul>