.navbar
{
	margin-top: -25px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	margin-bottom: -20px;
}

.navbar .nav > li > a
{
	font-size: 16px;
}

.bottom-menu .bottom-links
{
	font-size: 15px;
}

#center
{
	margin-left: 15%;
	font-size: 15px;
}

.bottom-menu> .container > .row
{
	padding-left: 20%;
}

.qui
{
	height: 350px;
	width: 100%;
}

.container
{
	padding-left: 5px;
	padding: 10px;
	padding-top: 30px;
	width: 90%;
}


h3
{
	text-align: center;
	color: #3498db;
}

.center
{
	text-align: center;
}


#tagline 
{	
	word-spacing: 1px;
	line-height: 90px;
	font-family: "neuzeitgrobold", sans-serif;
	text-transform: none;
	letter-spacing: -3px;
	color: #2C3E50;
	text-align: center;
	margin-bottom: 50px;
}

.the-work-container
{
	margin-right: 0.5px;
}

.btn-primary
{
	width: 200px;
	height: 50px;
}

.demo-row
{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.navbar-nav
{
	padding-top: 20px;
}

* {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
 
.col-md-3
{
	margin-right: 30px;
	padding-left: 115px;
}

.flip img {
  display: block;
  width: 50%;
  margin:0 auto;
  padding-top: 40px;
}

.flip {
  width:310px;
  height:340px;
  display: block;
  margin: 50px auto auto auto;
  overflow: hidden;
  background:#ECF0F1;
}

.flip:hover .image-caption {
  bottom: -28px;
}

.flip:hover .image-menu {
  transform: translate(0px, 100%);
  -webkit-transform: translate(0px, 100%);
  -moz-transform: translate(0px, 100%);
  -o-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  /*top: 0;*/
}

.flip .image {
  position: relative;
  width:100%;
  height:100%;
  display:block;
}

.flip .image-caption {
  width:100%;
  display:block;
  position: absolute;
  bottom: -25px;
  background: #BDC3C7;
  text-align:center;
  color: #2C3E50;
  font-size: 22px;
  padding: 30px;
  text-transform: uppercase;
}

.flip .image-menu {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 30px;
}

.flip .image-menu h2 {
  margin: 0;
  color: #2C3E50;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}


.transition {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-backface-visibility: hidden;
}

.navbar
{
	margin-top: -25px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'The Girl Next Door', cursive;
	margin-bottom: 0px;
}

.navbar .nav > li > a
{
	font-size: 20px;
}

.navbar .nav > li.active > a
{
	color: #3498db;

}

h2 {
font-family: 'The Girl Next Door', cursive;
text-align: center;
padding-bottom: 20px;
}

p {
	margin-left : 10%;
	margin-right: 10%;
	text-align: justify;
	margin-bottom: 30px; 
}

.couleur {
color : #2980b9;
}
